@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cool People Club!</h1>
    <h2>You must be a registered member to continue:</h2>
    <p>
        Click <a asp-action="Register" asp-controller="Home">Here </a> to go to the Registration Page.
        Or click the Registration Tab up top.
    </p>
</div>