@{
    ViewData["Title"] = "Registration Page";
}

<form action="RResult">
    <h1>Sign up as a New User:</h1>

    <p>Username:</p>
    <input type="text" name="Username" />

    <p>Email:</p>
    <input type="email" name="Email" />

    <p>Password:</p>
    <input type="password" name="Password" />

    <p>Telephone Number</p>
    <input type="tel" name="Telephone Number" />

    <p>Telephone Type</p>
    <select id="Tele">
        <option value="Home">Home</option>
        <option value="Cell">Cell</option>
    </select>
    <br>
    
    <p>Clicking the check mark means I am Human!</p>
    <input type="checkbox">
    

    <br><input type="submit">

</form>
