@{
    ViewData["Title"] = "Completion Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UN!</h1>
    <p>You are now a member of the Cool People Club! Great Job!</p>
    <p>There's nothing else here, just enjoy your membership.</p>
</div>
